<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios Registrados</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Usuarios Registrados</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Correo Electrónico</th>
            <th>Descripcion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.email}"></td>
            <td>
                <a th:href="@{/registrados/{id}(id=${usuario.id})}" > Datos </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/usuarios/{id}/tareas(id=${idUsuarioLogeado})}">Volver a Lista de Tareas</a>
</div>
</body>
</html>